<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true">
      <serviceActivations>
        <add relativeAddress="get/Engine.svc" service="NewRelic.Agent.Api.SampleEngine.Engine" />
      </serviceActivations>
    </serviceHostingEnvironment>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="web">
          <webHttp helpEnabled="true" automaticFormatSelectionEnabled="true" faultExceptionEnabled="true" />
        </behavior>
        <behavior name="Default">
          <dataContractSerializer maxItemsInObjectGraph="10000000" />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <services>
      <service name="NewRelic.Agent.Api.SampleEngine.Engine">
        <endpoint address="mex" kind="mexEndpoint" />
        <endpoint kind="webHttpEndpoint" contract="NewRelic.Agent.Api.SampleEngine.IEngine" behaviorConfiguration="web" />
      </service>
    </services>
  </system.serviceModel>
</configuration>
